<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons"> 
          home 
      </i>
        Início
      </a>
      <a mat-list-item routerLink="/tasks">
        <i class="material-icons"> 
          list_alt 
        </i>
        Nova Tarefa
      </a>
      <a mat-list-item routerLink="/tasks/pending">
        <i class="material-icons"> 
            check_box_outline_blank
        </i>
        Pendentes
      </a>
      <a mat-list-item routerLink="/tasks/check">
        <i class="material-icons"> 
          check_box 
        </i>
        Concluídas
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
